@page "/DiaryHomepage"
@using Domain.Repositories.Implementations
@using Domain.Repositories.Interfaces
@using Model.Entities
@inject IRepositoryAsync<Entry> EntryRepository
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
<style>
    .btn {
        background-color: #EEE5D1;
        color: #775A4D;
        text-align: center;
    }
    
</style>
<div class="col-12 d-flex justify-content-center align-items-center pt-4">
    <div class="row">
        @foreach (var entry in Entries)
        {

            <EntryComponent entry="entry"></EntryComponent>
        }
    </div>
</div>
        <div class="col-12 d-flex pt-5 justify-content-center align-items-center flex-column">
            <p class="bottom">Click on the button below to start writing</p>
            <button class="btn btn-primary" onclick="@RedirectToDiaryEntryPage">Write my Entry</button>
        </div>

@code {
    public List<Entry> Entries = new List<Entry>();
    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        //Hier muss die im EntryRepository definierte Methode GetEntriesForUser() aufgerufen werden
        Entries = await EntryRepository.ReadAllAsync();
    }
    public void RedirectToDiaryEntryPage()
    {
        NavigationManager.NavigateTo("/DiaryEntryPage", true);
    }
}