@page "/DiaryHomepage"
@using Domain.Repositories.Implementations
@using Domain.Repositories.Interfaces
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Model
@using Model.Entities
@using WebGUI.Components.Components
@inject IRepositoryAsync<Entry> EntryRepository
@inject NavigationManager NavigationManager
@inject ProtectedSessionStorage ProtectedSessionStorage
@rendermode InteractiveServer
<style>
    .btn {
        background-color: #EEE5D1;
        color: #775A4D;
        text-align: center;
    }
    .sorting{
        background-color: lightgrey;
        color: white;
        border: grey solid;
        border-radius: 20px;
        height: 100px;
        width: 100%;
    }
    
</style>
<div class="container col-12 d-flex justify-content-center align-items-start">
<div class="col-2 d-flex justify-content-center align-items-center pt-4 mb-5">
    <div class="col-3 flex-column d-flex justify-content-start align-items-center sorting">
        <h4>Sortieren:</h4>
        <div>
            <select name="sorting" id="sorting" class="form-select" @onchange="SortingEntries">
                <option value="Datum">Datum</option>
                <option value="Titel">Titel</option>
                <option value="Id">Id</option>
            </select>
        </div>
    </div>
</div>
<div class="col-10 d-flex justify-content-center align-items-center pt-4 mb-5">
    <div class="row d-flex justify-content-center align-items-center">
        @foreach (var entry in Entries)
        {
            <EntryComponent entry="entry"></EntryComponent>
        }
    </div>
</div>
</div>
        <div class="col-12 d-flex pt-5 justify-content-center align-items-center flex-column">
                @if(Entries.Count != 0){
                    <p class="bottom">
                        Click on the button below to start writing
                    </p>
                }
                <p class="bottom">
                    To get your first entry, click below!
                    </p>
            <button class="btn" onclick="@RedirectToDiaryEntryPage">Write my Entry</button>
        </div>

@code {
    public List<Entry> Entries = new List<Entry>();
    public int output;
    
    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        //Hier muss die im EntryRepository definierte Methode GetEntriesForUser() aufgerufen werden
        var result = await ProtectedSessionStorage.GetAsync<int>("UserId");
        if (result.Success)
            output = result.Value;
        await GetEntriesForUser();
    }
    public void RedirectToDiaryEntryPage()
    {
        NavigationManager.NavigateTo("/DiaryEntryPage", true);
    }

    private async Task GetEntriesForUser()
    {
        Entries = await EntryRepository.ReadAsync(e => e.UserId == output);

    }

    public void SortingEntries(ChangeEventArgs e)
    {
        var value = e.Value.ToString();
        if (value == "Datum")
        {
            Entries = Entries.OrderBy(e => e.Date).ToList();
        }
        else if (value == "Titel")
        {
            Entries = Entries.OrderBy(e => e.Title).ToList();
        }
        else if (value == "Id")
        {
            Entries = Entries.OrderBy(e => e.EntryId).ToList();
        }
    }
}