@page "/Login"
@using System.Security.Claims
@using Domain.Repositories.Interfaces
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Model
@using Model.Entities
@inject ProtectedSessionStorage ProtectedSessionStorage
@inject IRepositoryAsync<User> UserRepository 
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
<style>
    .form-height {
        height: 100%;
        object-fit: cover;
    }

    .equal-height {
        display: flex;
        align-items: stretch;
        height: 100%;
    }

</style>
<h3>Login</h3>
<div class="section-login py-5">
    <div class="container">
        <h3 class="text-center mb-4">Login</h3>
        <div class="row justify-content-center align-items-stretch equal-height">
            
            <div class="login_container col-lg-4 ms-0 me-0 ps-0 pe-0 h-100 d-flex align-items-center">
                <EditForm Model="_user" OnValidSubmit="CheckUser" FormName="LoginForm" class="p-4 border rounded shadow w-100">
                    <div class="mb-4 mt-5 pt-4 border-bottom border-secondary">
                        <InputText @bind-Value="_user.Username" class="form-control" placeholder="Benutzername" />
                        <ValidationMessage For="() => _user.Username" />
                    </div>
                    <div class="mb-5 mt-3 border-bottom border-secondary">
                        <InputText @bind-Value="_user.Password" type="password" class="form-control" placeholder="Passwort" />
                        <ValidationMessage For="() => _user.Password" />
                    </div>
                    <div class="mb-3">
                        <span class="text-danger">@_errorMessage</span>
                    </div>
                    <div class="mb-3 d-flex justify-content-center">
                        <span><a href="/signup">Konto erstellen</a></span>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-50 btn text-light w-100 mb-5 mt-3 pb-2">Login</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>


@code {
    private SessionData SessionData = new();
    private User _user = new();
    private string _errorMessage;
    private List<User> accountUsername = new();
    private List<User> accountPassw = new();
    private List<User> _users = new();

    protected override async Task OnInitializedAsync()
    {
        _users = await UserRepository.ReadAllAsync();
    }

    public async Task CheckUser()
    {
        foreach (var user in _users)
        {
            if (user.Username == _user.Username)
            {
                accountUsername.Add(user);
                Console.WriteLine("added to usernanem");
            }

            if (user.Password == _user.Password)
            {
                accountPassw.Add(user);
                Console.WriteLine("added to passw");
   
            }
        }
        
        
        if (accountUsername.Count == 0 && accountPassw.Count == 0) {
            _errorMessage = "Username or Password is incorrect";
            return; 
        }


        if (accountUsername.Count != 0)
        {
            if (accountPassw.Count == 0)
            {
                var passw = await UserRepository.ReadAsync(u => u.Username == _user.Username);
                _errorMessage = $"Wrong Password... Your Password is {passw[0].Password}";
                return;
            }
        }
        
        if (accountUsername.Count == 0 && accountPassw.Count != 0)
        {
            var passw = await UserRepository.ReadAsync(u => u.Password == _user.Password);
            _errorMessage = $"Wrong Username... Your Username is {passw[0].Username}";
            return;
        }
        if (accountUsername.Count != 0 && accountPassw.Count == 0) {
            var passw = await UserRepository.ReadAsync(u => u.Username == _user.Username);
            _errorMessage = $"Wrong Password... Your Password is {passw[0].Password}";
            return;
        }

        NavigationManager.NavigateTo("/DiaryEntryPage");
}
}
