@inherits LayoutComponentBase

<div class="sidebar">
    <nav class="nav flex-column">
        <NavLink href="/" class="nav-link logo" Match="NavLinkMatch.All">
            <span class="fs-3">Magical Diary</span>
        </NavLink>
        <NavLink href="/Login" class="nav-link">
            <span>Login</span>
        </NavLink>
        <NavLink href="/signup" class="nav-link">
            <span>Create Account</span>
        </NavLink>
        <NavLink href="/Logout" class="nav-link">
            <span>Logout</span>
        </NavLink>
        <NavLink href="/DiaryEntryPage" class="nav-link">
            <span>Diary</span>
        </NavLink>
        <NavLink href="/DiaryHomepage" class="nav-link">
            <span>Your Entries</span>
        </NavLink>
    </nav>
</div>

<style>
    .sidebar {
        width:250px;
        height: 100vh;
        position: fixed;
        background-color: #f8f9fa;
        padding: 0px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }
    .logo{
        color:#775A4D;
        font-family: Rakkas;
    }
    .navbar-brand :hover {
        color: #6A5C55;
    }
    .nav{
        color: #6A5C55;
    }
</style>
