body{
    background-color: #FFFFF0;
    font-family: Rakkas;
}
.nav-scrollable{
    background-color: #C1AF9E;
}
.navbar .container-fluid{
    background-color: #C1AF9E;
}

.nav-item .nav-link{
    color:#665148 ;
}
.sidebar{
    background-color: #C1AF9E !important;
}