@using Model.Entities
@inject NavigationManager NavigationManager
<style>
    .card{
        background-color: #D0BAA2;
        color: #775A4D;
        height: 100%;
    }
</style>
<div class="card col-3 m-2 shadow">
    <div class="card-body d-flex justify-content-center align-items-center flex-column">
        @if (entry.Title != null)
        {
            <h3 class="card-title">@entry.Title</h3>
        }
        else
        {
            <h3 class="card-title">ToDo List</h3>
        }
        <h6>@entry.Date?.ToString("dd/MM/yyyy")</h6>
        <button class="btn" onclick="@RedirectToEntry">View entry</button>

    </div>
</div>

@code {
    [Parameter]
    public Entry entry { get; set; }
    
    public void RedirectToEntry()
    {
        NavigationManager.NavigateTo($"/ViewEntry/{entry.EntryId}", true);
    }
}